html,body,header{margin:0;padding:0;}

br.clear{font-size:1px;clear:both;}

/* z-index:100 */
header{height:60px;background-color:#eee;border-bottom:solid 1px #aaa;z-index:100;}
header h1{float:left;margin:0 15px;color:#444;text-shadow:1px 1px 1px #fff;font:bold 32px/60px "Microsoft YaHei",simhei,STHeiTi,sans-serif,Verdana;}
header h1:first-letter{font-family:Webdings;line-height:54px;} /* Wingdings v */
header nav{margin-left:256px;}
header nav a{float:left;color:#333;text-decoration:none;border:solid 1px gray;border-radius:3px;padding:5px 10px;text-shadow:1px 1px 1px #fff;margin:25px 20px 0 0;font:normal 14px/1 Verdana,Arial,Helvetica,sans-serif;}
header nav a.latest{float:right;border:none;}
header nav a:visited{color:#333;}
header nav a:hover{color:#0a0;background-color:#f8f8f8;}

.jsmind-container{clear:both}
.jsmind-tools{position:absolute;z-index:200;top:70px;left:10px;padding:8px 6px;border:solid 1px #fff;}
.jsmind-tools-active{border:solid 1px gray; border-radius:5px; background-color:#fefefe;}
.jsmind-tools span{float:left;display:block;width:32px;height:32px;overflow:hidden;text-indent:32px;background:url('../images/setting.png');opacity:0.3;}
.jsmind-tools span:hover{opacity:1;}
.jsmind-tools ul{float:left;margin:0 0 0 5px;padding:0;list-style:none;display:none;}
.jsmind-tools li{float:left;margin-left:8px;width:32px;height:32px;white-space:nowrap;overflow:hidden;text-indent:32px;opacity:0.3;background-color:#fff;}
.jsmind-tools li:hover{opacity:1;}
.jsmind-tools li.new{background:url('../images/document.png');}
.jsmind-tools li.open{background:url('../images/open_computer.png');}
.jsmind-tools li.save-local{background:url('../images/save_computer.png');}
.jsmind-tools li.save-cloud{background:url('../images/cloud_upload.png');}
.jsmind-tools li.screenshot{background:url('../images/camera.png');}
.jsmind-tools li.share{background:url('../images/share.png');}
.jsmind-tools-active span{opacity:1;}
.jsmind-tools-active ul{display:block;}

footer{position:absolute;bottom:0;width:100%;height:30px;overflow:hidden;background-color:#f2f2f2;border-top:solid 1px #bbb;}
footer nav{font:normal 13px/30px Verdana,Arial,Helvetica,sans-serif;margin-left:10px;}
footer nav a{color:#666;text-decoration:none;}
