html,body,header{margin:0;padding:0;}

br.clear{font-size:1px;clear:both;}

/* z-index:100 */
header{height:60px;background-color:#eee;border-bottom:solid 1px #aaa;position:relative;z-index:100;}
header h1{margin:0 15px;color:#444;text-shadow:1px 1px 1px #fff;font:bold 32px/60px "Microsoft YaHei",simhei,STHeiTi,sans-serif,Verdana;}
header h1:first-letter{font-family:Webdings;line-height:54px;color:#090;} /* Wingdings v */
header nav{width:100%;position:absolute;top:0px;}
header nav a{color:#333;text-decoration:none;float:left;text-shadow:1px 1px 1px #fff;margin:25px 30px 0px 270px;font:normal 14px/1 Verdana,Arial,Helvetica,sans-serif;}
header nav a:visited{color:#333;}
header nav a:hover{color:#0a0;}

button#settingsbutton{ float:right;border:1px solid #007aa7; background-color:#3f3;padding:5px 30px;margin-right:50px;margin-top:15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75); -moz-box-shadow: 0 0 4px rgba(0,0,0, .75); box-shadow: 0 0 4px rgba(0,0,0, .75); color:black; font-size:1em; cursor:pointer;}
button#settingsbutton:hover {box-shadow:2px 2px 8px #000;}

.jsmind-container{clear:both}
/*
.jsmind-outline{float:left;}
.jsmind-nodeinfo{float:left;}
*/


footer{position:absolute;bottom:0;width:100%;height:30px;overflow:hidden;background-color:#f2f2f2;border-top:solid 1px #bbb;}
footer nav{font:normal 13px/30px Verdana,Arial,Helvetica,sans-serif;margin-left:10px;}
footer nav a{color:#666;text-decoration:none;}
